In [1]:
import pandas as pd 
import requests
import numpy as np

In [2]:
respose = requests.get('https://api.themoviedb.org/3/movie/popular?api_key=88cacc33658425acdb11fa37422eb4e2&language=en-US&page=1').json()

In [3]:
respose['results'][19]['popularity']

897.129

In [4]:
popularity = [] 
vote_count = []
original_language = []
title = []
vote_average = []
overview = []
release_date = []

In [5]:
for i in range(len(respose['results'])): # coz, there length is 20 so, automaticly detected
    popularity.append(respose['results'][i]['popularity'])
    vote_count.append(respose['results'][i]['vote_count'])
    original_language.append(respose['results'][i]['original_language'])
    title.append(respose['results'][i]['title'])
    vote_average.append(respose['results'][i]['vote_average'])
    overview.append(respose['results'][i]['overview'])
    release_date.append(respose['results'][i]['release_date'])

In [6]:
dictonrey = {'popularity':popularity,'vote_count':vote_count, 'original_language':original_language,'title':title,'vote_average':vote_average, 'overview':overview,'release_date':release_date}

In [7]:
len(popularity),len(vote_count),len(original_language),len(title),len(vote_average),len(overview),len(release_date)

(20, 20, 20, 20, 20, 20, 20)

In [8]:
dataset = pd.DataFrame(dictonrey)

In [9]:
dataset.sample(1)

,popularity,vote_count,original_language,title,vote_average,overview,release_date
4,2782.527,295,en,Encanto,7.4,"The tale of an extraordinary family, the Madri...",2021-11-24

In [10]:
popularity = [] 
vote_count = []
original_language = []
title = []
vote_average = []
overview = []
release_date = []

In [11]:
for j in range(1,501):
    respose = requests.get(f'https://api.themoviedb.org/3/movie/popular?api_key=88cacc33658425acdb11fa37422eb4e2&language=en-US&page={j}').json()
    
    for i in range(len(respose['results'])): # coz, there length is 20 so, automaticly detected
        popularity.append(respose['results'][i]['popularity'])
        vote_count.append(respose['results'][i]['vote_count'])
        original_language.append(respose['results'][i]['original_language'])
        title.append(respose['results'][i]['title'])
        vote_average.append(respose['results'][i]['vote_average'])
        overview.append(respose['results'][i]['overview'])
        try:
            release_date.append(respose['results'][i]['release_date'])
        except:
            release_date.append(np.nan)
    
    dictonrey = {'popularity':popularity,'vote_count':vote_count, 'original_language':original_language,'title':title,'vote_average':vote_average, 'overview':overview,'release_date':release_date}
    
    df = pd.DataFrame(dictonrey)

In [24]:
df

,popularity,vote_count,original_language,title,vote_average,overview,release_date
0,7534.804,4337,en,Venom: Let There Be Carnage,7.2,After finding a host body in investigative rep...,2021-09-30
1,4173.995,1931,en,Red Notice,6.8,An Interpol-issued Red Notice is a global aler...,2021-11-04
2,2824.034,841,en,The Last Duel,7.6,King Charles VI declares that Knight Jean de C...,2021-10-13
3,2960.577,509,en,Clifford the Big Red Dog,7.5,As Emily struggles to fit in at home and at sc...,2021-11-10
4,2782.527,295,en,Encanto,7.4,"The tale of an extraordinary family, the Madri...",2021-11-24
...,...,...,...,...,...,...,...
9995,10.614,384,fr,The Past,7.3,"After four years apart, Ahmad returns to his w...",2013-05-17
9996,10.614,142,en,Fortress 2,5.0,"7 years on from the original Fortress movie, B...",2000-03-02
9997,9.759,81,en,Malibu Rescue: The Next Wave,6.6,"It’s summer again, and everyone’s favorite Jun...",2020-08-04
9998,10.612,1299,en,Brüno,5.6,Flamboyantly gay Austrian television reporter ...,2009-07-08
9999,10.611,400,en,The Secret: Dare to Dream,7.3,A widow with three children hires a handyman t...,2020-04-16